<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#d2190b">
    <title>PNT2022TMID26432 </title>
    /*<link rel="stylesheet" href="w3.css">
    <link rel="icon" href="inventory.png">*/
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static',filename='css/w3.css')}}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/app.css')}}" rel="stylesheet">
<link rel="icon" href="{{ url_for('static',filename='images/inventory.png')}}"></i>">
    <style>
        /* stop to select */
        body{-webkit-user-select:none;-moz-user-select:-moz-none;
        -ms-user-select:none;user-select:none}
        .w3-input {
            width: 95%;
        }

        li { border-bottom-left-radius: 10px; }
    </style>
</head>

<body oncontextmenu="return false">

<div class="w3-row">
<div class="w3-col s12 m6 l4">
    <form class="w3-container w3-card-4 w3-white w3-padding w3-margin" style="border-radius: 8px; border:1px solid black;">
        <h2 class="w3-center w3-text-black"> Let's Shop </h2>
                
                <h4> Choose Product </h4>
                <select class="w3-select w3-border w3-light-grey" name="help">
                    <option value="Air Conditioner - 1500">Air Conditioner - 1500</option>
                    <option value="Dish Washer - 350">Dish Washer - 350</option>
                    <option value="Dryer - 600">Dryer - 600</option>
                    <option value="Freezer - 750">Freezer - 750</option>
                    <option value="Fridge - 1900">Fridge - 1900</option>
                    <option value="Microwave - 225">Microwave - 225</option>
                 	<option value="Oven - 900">Oven - 900</option>
<option value="Trash Compactor - 190">Trash Compactor - 190</option>
<option value="Washer - 650">Washer - 650</option>
<option value="Water Heater - 1250">Water Heater - 1250</option>
                </select>
<h4> Quantity</h4>
                <input class="w3-input w3-light-grey w3-border" type="text"><br>

                <h4>Choose state * </h4>
                        <select name="state" class="w3-select w3-border w3-light-grey">
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi" selected>Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            </select>                        

                <h4>City </h4>
                <input class="w3-input w3-light-grey w3-border" type="text">
                
                <h4> Pincode</h4>
                <input class="w3-input w3-light-grey w3-border" type="text"><br>

                <button type="button" class="w3-button w3-blue w3-border w3-hover-red w3-round">Place Order</button>

            <br>
    </form>
</div>

               
        <div class="w3-col s12 m6 l8">
            <ul class="w3-container w3-card-4 w3-white w3-margin w3-padding" style="border-radius: 8px; border:1px solid black;list-style: none">
                <li class="w3-bar w3-blue w3-margin">
                    <img src="{{url_for('static',filename='images/ac.png')}}" class="w3-bar-item w3-circle" style="width:85px">
                    <div class="w3-bar-item">
                        <span class="w3-large">Air Conditioner </span><br>
                        <span> 1.5 Ton Air Conditioner | Bais Godam | Jaipur | ID: 20423868530</span><br>
                        <span class="w3-border w3-red w3-button w3-round"> Buy </span>
                    </div>
                </li>        
                <li class="w3-bar w3-blue w3-margin">
                    <img src="{{url_for('static',filename='images/fridge.png')}}" class="w3-bar-item w3-circle" style="width:85px">
                    <div class="w3-bar-item">
                        <span class="w3-large">Fridge </span><br>
                        <span> LG 260L 2 Door Refrigerator (Shiny Steel, GL-I292RPZX)</span><br>
                        <span class="w3-border w3-red w3-button w3-round"> Buy </span>
                    </div>
                </li>        
                <li class="w3-bar w3-blue w3-margin">
                   <img src="{{url_for('static',filename='images/washingmachine.png')}}" class="w3-bar-item w3-circle" style="width:85px">
                    <div class="w3-bar-item">
                        <span class="w3-large">Washing Machine </span><br>
                        <span> LG FHM1208ZDL 8 kg Front Load Fully Automatic Washing Machine Specifications and Features </span><br>
                        <span class="w3-border w3-red w3-button w3-round"> Buy </span>
                    </div>
                </li>        
                <li class="w3-bar w3-blue w3-margin">
                    <img src="{{url_for('static',filename='images/oven.png')}}" class="w3-bar-item w3-circle" style="width:85px">
                    <div class="w3-bar-item">
                        <span class="w3-large">Oven </span><br>
                        <span> Glen Oven Toaster Griller (OTG) 18 Litre 1200W Power Thermostat Control - Black (5018) glen toasters, toaster, bread toaster, sandwich toaster,... </span><br>
                        <span class="w3-border w3-red w3-button w3-round"> Buy </span>
                    </div>
                </li>        
            </ul>
        </div>
</div>
</body>
</html>
